.LoginBG {
    position: absolute;
    height: 92dvh;
    width: 100dvw;
    background-color: #111;
    top: 8dvh;
    color: #0f0;
    text-align: center;
}

.Login {
    position: absolute;
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
}

.Seed {
    width: 80dvw;
    height: 25dvh;
    resize: none;
}